DATABASE_URL='postgresql://neondb_owner:npg_MwuA5hmPpFq2@ep-plain-butterfly-a7gh9tov-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# ImageKit Configuration
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=your_imagekit_url_endpoint

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

